<html>
    <head></head>
<body>
    <form action="/login" method="POST">
        <div>
            <label for="username">Username : </label>
            <input type="text" name="username"/>

        </div>
        
    </form>
</body>

</html>